<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>FOSDEM 2011 - Code, Release, Market - Alexis Sukrieh</title>

<!-- CSS -->
<link rel="stylesheet" href="/css/style.css" />
<link href="<% request.base %>/css/prettify.css" type="text/css" rel="stylesheet" />

<!-- JavaScripts -->
<script type="text/javascript" src="<% request.base %>/javascripts/jquery.js"></script>
<script type="text/javascript" src="<% request.base %>/javascripts/prettify.js"></script>
<script type="text/javascript" src="<% request.base %>/javascripts/broadway.js"></script>

<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
</head>

<body onload="prettyPrint();">

    <div id="wrapper">
        <div id="content_wrapper">
        <% content %>
        </div>
    </div>
    <div id="footer">
        <span><% settings.broadway.event %></span>
        <span><% settings.broadway.date %></span>
        <span class="title"><% settings.broadway.title %></span>
        <span class="author"><% settings.broadway.author %></span>
        <span id="slide_number" style="position: absolute; right: 2px;"></span>
    </div>


<% if is_multi_touch %>

<div id="preview" style="border: 2px solid #777; background-color: #ddd; color: #444;">
</div>

<script>
broadway_preview();
</script>


<div id="remote">
<div style="width: 800px; text-align: center; position: absolute; left: 0; bottom: 0; background-color: #eee;">
<h2>
<a href="#" style="color: #000; " onclick="broadway_prev();broadway_refresh(); return(false);">PREV</a>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<a href="#" style="color: #000;" onclick="broadway_next(); broadway_refresh();return(false);">NEXT</a>
</h2>
</div>
</div>
<% else %>
<div style="display: none">

<img src="/images/backward.jpg" >
<img src="/images/bonzai.png" >
<img src="/images/crowd.jpg" >
<img src="/images/github.png" >
<img src="/images/perldancer-bg.jpg" >
<img src="/images/rubixcube-practice.jpg" >
<img src="/images/troll.jpg" >
<img src="/images/bigjump.jpg" >
<img src="/images/bug.jpg" >
<img src="/images/documentation.jpg" >
<img src="/images/goban.jpg" >
<img src="/images/perldancer.jpg" >
<img src="/images/sagrada.jpg" >
<img src="/images/users.jpg" >
<img src="/images/bonzai-bg.jpg" >
<img src="/images/clock.jpg" >
<img src="/images/ecosystem.jpg" >
<img src="/images/lego_usb.jpg" >
<img src="/images/rubixcube.jpg" >
<img src="/images/taichi.jpg" >
<img src="/images/xmen.jpg" >
<img src="/images/bonzai.jpg" >
<img src="/images/contributors.jpg" >
<img src="/images/perldancer.png" >
<img src="/images/mongueurs.png" >
<img src="/images/weborama.gif" >
<img src="/images/commbreak.jpg" >
<img src="/images/focus.jpg" >
<img src="/images/marketing.jpg" >
<img src="/images/rubixcube-master.jpg" >
<img src="/images/tortue.png" >
<img src="/images/yell.jpg" >
</div>

<% end %>

</body>
</html>
